<!doctype html>
<html lang="zh" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Shortcut Icon" href="../../static/img/icon.png" th:href="@{/img/icon.png}">
<!--    <link href='http://fonts.useso.com/css?family=PT+Sans:400,700|Merriweather:400italic,400' rel='stylesheet' type='text/css'>-->

    <link rel="stylesheet" href="../../static/css/reset.css" th:href="@{/css/reset.css}"> <!-- CSS reset -->
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"> <!-- Resource style -->

<!--    <link rel="shortcut icon" href="../../static/img/cd-icon-arrow-desktop.svg" th:href="@{/img/cd-icon-arrow-desktop.svg}">-->
<!--    <link rel="shortcut icon" href="../../static/img/cd-icon-arrow-mobile.svg" th:href="@{/img/cd-icon-arrow-mobile.svg}">-->
<!--    <link rel="shortcut icon" href="../../static/img/cd-icon-close-desktop.svg" th:href="@{/img/cd-icon-close-desktop.svg}">-->
<!--    <link rel="shortcut icon" href="../../static/img/cd-icon-close-mobile.svg" th:href="@{/img/cd-icon-close-mobile.svg}">-->
<!--    <link rel="shortcut icon" href="../../static/img/img-1-large.jpg" th:href="@{/img/img-1-large.jpg}">-->
<!--    <link rel="shortcut icon" href="../../static/img/img-1-small.jpg" th:href="@{/img/img-1-small.jpg}">-->
<!--    <link rel="shortcut icon" href="../../static/img/img-2-large.jpg" th:href="@{/img/img-2-large.jpg}">-->
<!--    <link rel="shortcut icon" href="../../static/img/img-2-small.jpg" th:href="@{/img/img-2-small.jpg}">-->
<!--    <link rel="shortcut icon" href="../../static/img/img-3-large.jpg" th:href="@{/img/img-3-large.jpg}">-->
<!--    <link rel="shortcut icon" href="../../static/img/img-3-small.jpg" th:href="@{/img/img-3-small.jpg}">-->
<!--    <link rel="shortcut icon" href="../../static/img/img-4-large.jpg" th:href="@{/img/img-4-large.jpg}">-->
<!--    <link rel="shortcut icon" href="../../static/img/img-4-small.jpg" th:href="@{/img/img-4-small.jpg}">-->




    <!-- Resource jQuery -->
    <title>-_-</title>
</head>
<body>
<div class="projects-container">
    <ul>
        <li>
            <div class="cd-title">
                <h2>博客</h2>
                <p>管理博客</p>
            </div>
            <div class="cd-project-info" style="text-align: center;">
                <p>
                    <a href="#" th:href="@{/admin/blogs}" class="m-item item m-mobile-hide"><i class="home icon"></i> 博客</a>
                </p>
            </div>
        </li>
        <li>
            <div class="cd-title">
                <h2>分类</h2>
                <p>分类管理</p>
            </div>
            <div class="cd-project-info" style="text-align: center;">
                <p>
                    <a href="#" th:href="@{/admin/types}" class="m-item item m-mobile-hide"><i class="idea icon"></i> 分类</a>
                </p>
            </div>
        </li>
        <li>
            <div class="cd-title">
                <h2>标签</h2>
                <p>标签管理</p>
            </div>
            <div class="cd-project-info" style="text-align: center;">
                <p>
                    <a href="#" th:href="@{/admin/tags}" class="m-item item m-mobile-hide"><i class="tags icon"></i> 标签</a>
                </p>
            </div>
        </li>
        <li>
            <div class="cd-title">
                <h2>关于</h2>
                <p>关于博客</p>
            </div>
            <div class="cd-project-info" style="text-align: center;">
                <p>一个BUG生产者写的一些博客</p>
            </div>
        </li>
    </ul>
    <a href="#0" class="cd-close">Close</a>
    <a href="#0" class="cd-scroll">Scroll</a>
</div>



<script src="../../static/js/modernizr.js" th:src="@{/js/modernizr.js}"></script> <!-- Modernizr -->
<!-- .project-container -->
<script src="../../static/js/jquery-2.1.1.js" th:src="@{/js/jquery-2.1.1.js}"></script>
<script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>



</body>
</html>